<div class="dock text-2xl">
  <%= link_to dashboard_path,
    class: "#{current_page?(dashboard_path) ? 'dock-active' : ''}" do %>
    <i class="ph ph-house"></i>
    <span class="dock-label">Dashboard</span>
  <% end %>

  <%= link_to history_path,
    class: "#{current_page?(history_path) ? 'dock-active' : ''}" do %>
    <i class="ph ph-clock-counter-clockwise"></i>
    <span class="dock-label">History</span>
  <% end %>

  <button>
    <i class="ph ph-trophy"></i>
    <span class="dock-label">Task</span>
  </button>

  <%= link_to profile_path,
    class: "#{current_page?(profile_path) ? 'dock-active' : ''}" do %>
    <i class="ph ph-user"></i>
    <span class="dock-label">Profile</span>
  <% end %>
</div>