<div class="dock text-2xl">
  <button class="dock-active">
    <i class="ph ph-house"></i>
    <span class="dock-label">Home</span>
  </button>

  <button>
    <i class="ph ph-clock-counter-clockwise"></i>
    <span class="dock-label">History</span>
  </button>

  <button>
    <i class="ph ph-chart-line-up"></i>
    <span class="dock-label">Status</span>
  </button>

  <button>
    <i class="ph ph-trophy"></i>
    <span class="dock-label">Ranking</span>
  </button>

  <button>
    <i class="ph ph-user"></i>
    <span class="dock-label">Profile</span>
  </button>
</div>
