<div class="navbar p-4">
  <div class="navbar-start">
    <h1 class="text-5xl font-bold text-base-content"><%= yield :page_title %></h1>
  </div>
  <div class="navbar-end flex gap-2 items-center">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost flex items-center gap-2">
        <span class="text-sm font-medium">Welcome, <%= current_user.name %></span>
        <div class="w-10 rounded-full overflow-hidden">
          <img
            alt="icon （仮）"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiLuW2xcJlrbLdQDiw-wTCsElgoQIvbaXRZ40pCZX9vxYuLh1W3njnzZ_SZddy3nVpXeTDZqdKX6rI-MQBECmDwL80RPHDA4d5_lBe89Z8YTbBw9LSlnkTYFbKFmLvObN6tMyyCx7kPVQiMVILHoqH-ze4DDH1n6tf6PIo06l_6w95xdmZ40m7X7Bzx9g/s664/rennai_kaeruka.png" />
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><%= link_to "Profile", profile_path %></li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>