@import "tailwindcss";

@plugin "daisyui" {
  themes: sleep;
}

@plugin "daisyui/theme" {
  name: "sleep";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(24.353% 0 0);
  --color-base-200: oklch(37% 0 0);
  --color-base-300: oklch(43% 0 0);
  --color-base-content: oklch(84.87% 0 0);
  --color-primary: oklch(53% 0.157 131.589);
  --color-primary-content: oklch(88.34% 0.019 251.473);
  --color-secondary: oklch(52% 0.105 223.128);
  --color-secondary-content: oklch(12.818% 0.005 229.389);
  --color-accent: oklch(67.271% 0.167 35.791);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27.441% 0.013 253.041);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(62.616% 0.143 240.033);
  --color-info-content: oklch(12.523% 0.028 240.033);
  --color-success: oklch(70.226% 0.094 156.596);
  --color-success-content: oklch(14.045% 0.018 156.596);
  --color-warning: oklch(77.482% 0.115 81.519);
  --color-warning-content: oklch(15.496% 0.023 81.519);
  --color-error: oklch(51.61% 0.146 29.674);
  --color-error-content: oklch(90.322% 0.029 29.674);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/* カードを半透明に */
.card.bg-base-100 {
  background-color: oklch(24.353% 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
}

.bg-base-100 {
  background-color: oklch(24.353% 0 0 / 0.3) !important;
}

/* テーブルのストライプを薄く */
.table-zebra tbody tr:nth-child(even) {
  background-color: oklch(37% 0 0 / 0.15) !important;
}

/* テーブルのヘッダーを薄く */
.table thead {
  background-color: oklch(37% 0 0 / 0.2) !important;
}

/* モバイルフッターの背景色を変更 */
.mobile-footer {
  background-color: oklch(24.353% 0 0) !important;
}
/* ナビバーメニューの背景色を変更 */
.navbar-menu {
  background-color: oklch(24.353% 0 0) !important;
}